@import "./components/styles/typography.scss";
@import "./components/styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
	margin-right: 0;
	margin-left: 0;
	margin-top: 5rem;
	background-color: antiquewhite;
}
