.pet {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
  border-radius: 2rem !important;
	// background: url(../../living-room-interior.png);
	// background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  // background-attachment: fixed;

  .digipet-img {
    height: 250px;
    padding: 2em;
  }
}
