.pet {
  position: relative;
  z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
  background: rgba(255, 255, 255, 0.7) !important;
  // background-color: #rgb(245, 239, 236) !important;
  border-radius: 2rem !important;
  // border: 1px solid red;
  // opacity: 70%;
	// background: url(../../living-room-interior.png);
	// background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  // background-attachment: fixed;

  .digipet-img {
    height: 250px;
    padding: 2em;
  }

}


