@import "./typography.scss";

.nav-bar {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	height: 72px;
  background-color: $primary-color !important;
  width: 100% !important;
}

.nav-bar--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  // border: black solid 5px;

  .app-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    // border: red solid 5px;
  }
  
  .app-logo {
    margin-top: 30px;
    // border: blue solid 5px;
  }
  a {
    font-family: $heading-font;
    color: white;
    font-size: 36;
    font-weight: $bold;
  }
}
