.stat-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 7rem;
	width: 7rem;
	// margin: 50px;
	padding: 2rem;
	border-radius:  2rem !important;
	opacity: 50%;
	// border: 2px solid red;
}

.stat-card-text {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	text-align: center;
}
