@import"./variables.scss";

$heading-font: "Quicksand", sans-serif;
$body-font: "Montserrat", sans-serif;

// Font Weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Mixin for Typography Styling
@mixin typography-styles($font, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}

h1 {
  @include typography-styles($heading-font, 36, $bold)
}

h3 {
  @include typography-styles($heading-font, 22, $bold)
}

body, p {
  @include typography-styles($body-font, 14, $bold)
}

a {
  @include typography-styles($body-font, 14, $semibold);
  text-decoration: none;
  color: $accent-color;
}